<div class="register-compoent">
  <mat-card>
    <mat-card-header class="padding-m">
      <mat-card-title>Cadastro de Usuário</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" ]>
        <mat-form-field class="full-width">
          <mat-label>Nome Completo</mat-label>
          <input matInput formControlName="fullName" placeholder="Digite o seu nome completo" />

          <mat-error *ngIf="form.get('fullName')?.errors?.['required']"
            >O nome completo é obrigatório.</mat-error
          >
          <mat-error *ngIf="form.get('fullName')?.errors?.['minlength']"
            >O nome completo deve ter pelo menos 3 caracteres.</mat-error
          >
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />

          <mat-error *ngIf="form.get('email')?.errors?.['required']"
            >O cadastro do email é obrigatório.</mat-error
          >
          <mat-error *ngIf="form.get('email')?.errors?.['email']"
            >O email informado não é válido.</mat-error
          >
        </mat-form-field>
        <app-password-field [control]="passwordControl"></app-password-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button matButton="elevated" [disabled]="form.invalid" (click)="submit()">Cadastrar</button>
    </mat-card-actions>
  </mat-card>
</div>
